In [3]:
# Pandas Stufe 4
# Anwndung und Kombination
# 16
# 2 series erstellen

import pandas as pd

preise = pd.Series([10, 15, 20], index =["Apfel", "Banane", "Kiwi"])
mengen = pd.Series([2, 3, 1], index =["Apfel", "Banane", "Kiwi"])

print(preise)
print(mengen)

Apfel     10
Banane    15
Kiwi      20
dtype: int64
Apfel     2
Banane    3
Kiwi      1
dtype: int64

In [4]:
# 17. Berechnung der Gesamtsumme alle Produkte
gesamtpreis = preise * mengen
print(gesamtpreis)

Apfel     20
Banane    45
Kiwi      20
dtype: int64

In [5]:
gesamtsumme = gesamtpreis.sum()
print(gesamtsumme)

85

In [6]:
# 18 normieren Zahlen in prozen

zahlen = pd.Series([10, 12, 30, 50,])
print(zahlen)

0    10
1    12
2    30
3    50
dtype: int64

In [7]:
prozent = zahlen / zahlen.sum()*100
# .sum gesamtsumme aller Werte, jeder wert wird durch die gesamtsumme aller WErte geteilt, sodass die Summe aller WErte 1 ist (normierung) *100 = prozent
print(prozent)

0     9.803922
1    11.764706
2    29.411765
3    49.019608
dtype: float64

In [8]:
# runden

prozent = (zahlen/ zahlen.sum() *100).round(2)

In [9]:
print(prozent)

0     9.80
1    11.76
2    29.41
3    49.02
dtype: float64

In [10]:
# 19. Wandle eine `Series` in einen `DataFrame` um und gib ihr den Spaltennamen `"Wert"`.

In [11]:
df = prozent.to_frame(name="Wert")

In [13]:
print(df)

    Wert
0   9.80
1  11.76
2  29.41
3  49.02

In [16]:
# 20. Erstelle eine Zeitreihe (`Series` mit `DatetimeIndex`) mit 7 zufälligen Werten für eine Woche.

import numpy as np
# Datumsbereich erzeugen
datum = pd.date_range(start="2025-08-03", periods=7, freq='D')

# ERzeugt Zufallswerte
zufallszahlen = np.random.randint(0,100, size=7)

# Series erstellen DateTimeIndex
zeitreihe = pd.Series(zufallszahlen, index = datum)
print(zeitreihe)

2025-08-03    37
2025-08-04    83
2025-08-05    78
2025-08-06    10
2025-08-07    78
2025-08-08    34
2025-08-09    95
Freq: D, dtype: int32

In [23]:
# mit rendom
import random
# Datumsbereich erzeugen
datum = pd.date_range(start="2025-08-03", periods=7, freq='D')
# Ganzezahlen
#werte = [random.randint(1, 100) for _ in range(7)]
#mit komma
werte = [random.uniform(1, 100) for _ in range(7)]
reihe = pd.Series(werte, index = datum)
print(reihe)

2025-08-03    56.489225
2025-08-04    84.752877
2025-08-05    78.089320
2025-08-06    64.295150
2025-08-07    85.918038
2025-08-08    87.099464
2025-08-09    35.509499
Freq: D, dtype: float64