In [3]:
# Kundenanalyse Stuffe 2
# Einfache Verknüpfung
# 4 **Lade beide CSV-Dateien ein.**  

import pandas as pd
df_Kunden = pd.read_csv("../csv/Kunden.csv", dtype={"PLZ" : str})
df_Zuordnung = pd.read_csv("../csv/zuordnung_plz_ort.csv", dtype={"plz" :str})

print(df_Kunden)
print(df_Zuordnung)

        Vorname   Nachname    PLZ                   Ort
0          Anna     Müller  29599                 Weste
1          Anna    Schmidt  89358             Kammeltal
2          Anna  Schneider  19417                 Bibow
3          Anna    Fischer  67693             Fischbach
4          Anna      Weber  69242            Mühlhausen
...         ...        ...    ...                   ...
2495  Zacharias      Linke  53508              Mayschoß
2496  Zacharias      Fuchs  25799                 Wrohm
2497  Zacharias     Möller  73312             Deggingen
2498  Zacharias       Paul  65343     Eltville am Rhein
2499  Zacharias       Horn  98587  Steinbach-Hallenberg

[2500 rows x 4 columns]
        osm_id       ags          ort    plz                 landkreis  \
0      1104550   8335001         Aach  78267        Landkreis Konstanz
1      1255910   7235001         Aach  54298  Landkreis Trier-Saarburg
2        62564   5334002       Aachen  52062       Städteregion Aachen
3        62564   5334002       Aachen  52064       Städteregion Aachen
4        62564   5334002       Aachen  52066       Städteregion Aachen
...        ...       ...          ...    ...                       ...
12849  2778122   8415085   Zwiefalten  88529      Landkreis Reutlingen
12850   959161   9276148      Zwiesel  94227           Landkreis Regen
12851   403750   8225113  Zwingenberg  69439     Neckar-Odenwald-Kreis
12852   537054   6431022  Zwingenberg  64673          Kreis Bergstraße
12853   536015  14521710      Zwönitz  08297           Erzgebirgskreis

                bundesland
0        Baden-Württemberg
1          Rheinland-Pfalz
2      Nordrhein-Westfalen
3      Nordrhein-Westfalen
4      Nordrhein-Westfalen
...                    ...
12849    Baden-Württemberg
12850               Bayern
12851    Baden-Württemberg
12852               Hessen
12853              Sachsen

[12854 rows x 6 columns]

In [6]:
# 5. **Führe beide Tabellen über `PLZ` zusammen.**  
# merge

# merged =pd.merge(
#    df_Kunden,
#    df_Zuordnung,
#    left_on="PLZ",
#    right_on="plz",
#    how="left"
# )
# print(merged)

         Vorname   Nachname    PLZ                   Ort     osm_id  \
0           Anna     Müller  29599                 Weste  1460255.0
1           Anna    Schmidt  89358             Kammeltal   964148.0
2           Anna  Schneider  19417                 Bibow  1444874.0
3           Anna  Schneider  19417                 Bibow  1444888.0
4           Anna  Schneider  19417                 Bibow  1444914.0
...          ...        ...    ...                   ...        ...
10017  Zacharias     Möller  73312             Deggingen  2772181.0
10018  Zacharias     Möller  73312             Deggingen  2770605.0
10019  Zacharias       Paul  65343     Eltville am Rhein   408592.0
10020  Zacharias       Horn  98587  Steinbach-Hallenberg  2849661.0
10021  Zacharias       Horn  98587  Steinbach-Hallenberg  2818530.0

              ags                       ort    plz  \
0       3360026.0                     Weste  29599
1       9774145.0                 Kammeltal  89358
2      13074006.0                     Bibow  19417
3      13074036.0                 Jesendorf  19417
4      13074082.0                 Ventschow  19417
...           ...                       ...    ...
10017   8117014.0                 Deggingen  73312
10018   8117024.0  Geislingen an der Steige  73312
10019   6439003.0         Eltville am Rhein  65343
10020  16066063.0              Schmalkalden  98587
10021  16066069.0      Steinbach-Hallenberg  98587

                              landkreis              bundesland
0                      Landkreis Uelzen           Niedersachsen
1                    Landkreis Günzburg                  Bayern
2         Landkreis Nordwestmecklenburg  Mecklenburg-Vorpommern
3         Landkreis Nordwestmecklenburg  Mecklenburg-Vorpommern
4         Landkreis Nordwestmecklenburg  Mecklenburg-Vorpommern
...                                 ...                     ...
10017               Landkreis Göppingen       Baden-Württemberg
10018               Landkreis Göppingen       Baden-Württemberg
10019             Rheingau-Taunus-Kreis                  Hessen
10020  Landkreis Schmalkalden-Meiningen               Thüringen
10021  Landkreis Schmalkalden-Meiningen               Thüringen

[10022 rows x 10 columns]

In [7]:
# 6. **Zeige zu jedem Kunden das zugehörige Bundesland an.**  
# print(merged[["Vorname", "Nachname", "bundesland"]])

         Vorname   Nachname              bundesland
0           Anna     Müller           Niedersachsen
1           Anna    Schmidt                  Bayern
2           Anna  Schneider  Mecklenburg-Vorpommern
3           Anna  Schneider  Mecklenburg-Vorpommern
4           Anna  Schneider  Mecklenburg-Vorpommern
...          ...        ...                     ...
10017  Zacharias     Möller       Baden-Württemberg
10018  Zacharias     Möller       Baden-Württemberg
10019  Zacharias       Paul                  Hessen
10020  Zacharias       Horn               Thüringen
10021  Zacharias       Horn               Thüringen

[10022 rows x 3 columns]

In [8]:
# Duplikate in der merge also 5 noch mal

In [12]:
merged = pd.merge(
    df_Kunden,
    df_Zuordnung.drop_duplicates(subset="plz"),
    how="left",
    left_on="PLZ",
    right_on="plz"
)
print(len(df_Kunden))
print(len(merged))

2500
2500

In [13]:
# 6 nochmal 
print(merged[["Vorname", "Nachname", "bundesland"]])

        Vorname   Nachname              bundesland
0          Anna     Müller           Niedersachsen
1          Anna    Schmidt                  Bayern
2          Anna  Schneider  Mecklenburg-Vorpommern
3          Anna    Fischer         Rheinland-Pfalz
4          Anna      Weber       Baden-Württemberg
...         ...        ...                     ...
2495  Zacharias      Linke         Rheinland-Pfalz
2496  Zacharias      Fuchs      Schleswig-Holstein
2497  Zacharias     Möller       Baden-Württemberg
2498  Zacharias       Paul                  Hessen
2499  Zacharias       Horn               Thüringen

[2500 rows x 3 columns]

In [20]:
# 7. **Zähle Kunden pro Bundesland.**
# 1. und speichere das Ergebnis im excel Format ab
kunden_bundesland = merged.groupby('bundesland').size().reset_index(name='Anzahl_Kunden')
kunden_bundesland.to_excel("./csv/kunden_pro_bundesland.xlsx", index =False)
kunden_bundesland.to_csv("./csv/kunden_pro_bundesland.csv", index = False)