In [1]:
# Aufgaben Kunden Analyse
# stufe 1 einfache Datenanalyse

# Wiederholung aus Datenanalye.ipynb übernommen
# 1. **Zähle alle Kunden.**  

# import 
#Einlesen und Anzeigen mit Relativem Pfad

import pandas as pd

df_Kunden = pd.read_csv("../csv/Kunden.csv")

print(df_Kunden)

        Vorname   Nachname    PLZ                   Ort
0          Anna     Müller  29599                 Weste
1          Anna    Schmidt  89358             Kammeltal
2          Anna  Schneider  19417                 Bibow
3          Anna    Fischer  67693             Fischbach
4          Anna      Weber  69242            Mühlhausen
...         ...        ...    ...                   ...
2495  Zacharias      Linke  53508              Mayschoß
2496  Zacharias      Fuchs  25799                 Wrohm
2497  Zacharias     Möller  73312             Deggingen
2498  Zacharias       Paul  65343     Eltville am Rhein
2499  Zacharias       Horn  98587  Steinbach-Hallenberg

[2500 rows x 4 columns]

In [3]:
# df_Kunden.groupby("Nachname").size() zählt wie oft ein NAme vorhanden ist

Nachname
Albrecht       50
Arnold         50
Bauer          50
Becker         50
Berger         50
Braun          50
Böhm           50
Dietrich       50
Fischer        50
Franke         50
Fuchs          50
Graf           50
Hartmann       50
Heinrich       50
Hoffmann       50
Hofmann        50
Horn           50
Jäger          50
Klein          50
Koch           50
Krämer         50
Krüger         50
Kühn           50
Lange          50
Linke          50
Lorenz         50
Meyer          50
Möller         50
Müller         50
Neumann        50
Otto           50
Paul           50
Peters         50
Richter        50
Schmidt        50
Schneider      50
Scholz        100
Schubert       50
Schuster       50
Schwarz        50
Schäfer        50
Seidel         50
Simon          50
Voigt          50
Wagner         50
Weber          50
Wendt          50
Wolf           50
Zimmermann     50
dtype: int64

In [4]:
len(df_Kunden)

2500

In [5]:
# 2. **Filtere alle Kunden aus einem bestimmten Ort (z. B. "Köln").**  
df_Kunden[df_Kunden["Ort"] =="Dortmund"]

        Vorname  Nachname    PLZ       Ort
592        Leon      Kühn  44388  Dortmund
889       Simon  Dietrich  44265  Dortmund
1292  Alexander      Kühn  44263  Dortmund
1431    Daniela  Albrecht  44269  Dortmund
1582    Gabriel  Heinrich  44149  Dortmund
1592    Gabriel      Kühn  44319  Dortmund
2080    Raphael      Graf  44267  Dortmund

In [6]:
df_Kunden[df_Kunden["Ort"] =="Euskirchen"]

Empty DataFrame
Columns: [Vorname, Nachname, PLZ, Ort]
Index: []

In [7]:
# 3. **Liste alle unterschiedlichen Postleitzahlen im Kundenbestand.**

# Pythonliste

plz_liste = df_Kunden["PLZ"].dropna().unique().tolist()

print(plz_liste)

[29599, 89358, 19417, 67693, 69242, 25721, 76774, 18465, 58636, 40670, 99713, 88273, 33449, 38889, 4720, 56283, 24113, 35116, 40883, 23879, 25779, 48143, 91315, 75337, 24647, 56414, 54578, 94157, 55767, 63773, 63697, 31275, 91413, 98530, 44867, 36419, 8118, 84543, 4827, 55758, 95189, 7819, 97780, 24242, 56346, 24980, 6110, 38855, 54340, 69226, 66879, 55481, 67482, 1591, 86987, 3130, 91352, 97286, 56864, 97279, 51570, 99752, 27729, 71088, 49078, 22147, 56587, 1945, 98631, 45139, 33619, 55546, 21521, 57250, 84169, 25879, 85395, 17168, 84381, 54612, 96187, 56858, 24250, 25585, 67281, 23619, 55765, 57635, 82449, 27624, 3054, 6386, 25899, 26556, 47169, 72202, 18209, 31693, 46539, 57647, 74597, 4416, 38836, 78667, 97640, 88677, 42719, 9477, 86577, 76461, 23816, 54298, 17209, 68804, 56479, 55619, 38350, 97342, 46509, 56355, 31558, 18320, 93453, 99817, 89446, 24619, 71277, 92268, 31608, 8496, 56746, 61184, 93109, 23909, 78609, 57520, 76530, 76889, 66121, 17111, 17398, 24896, 55278, 14513, 63741, 24855, 19065, 75181, 85570, 35684, 66957, 55257, 94107, 93486, 49565, 17391, 18437, 6618, 1768, 33178, 17091, 23923, 25524, 54453, 56357, 66903, 18106, 83373, 3185, 97348, 23911, 21481, 79865, 45279, 88422, 14778, 45147, 7646, 59174, 21368, 47624, 49214, 48282, 18195, 39638, 6528, 57629, 23968, 10789, 99441, 73733, 67585, 69251, 25572, 97647, 76833, 19243, 27251, 17375, 24161, 33647, 4357, 91462, 27572, 90574, 24211, 54314, 67259, 14169, 67808, 19230, 12307, 61440, 93449, 63871, 25845, 3096, 67283, 54636, 28207, 72178, 76596, 14656, 76879, 69254, 66851, 56767, 18236, 97618, 72664, 24105, 97255, 98660, 27412, 42659, 18347, 86678, 4936, 91161, 13129, 73574, 73441, 37345, 69121, 7429, 86972, 19399, 40470, 74254, 49751, 35398, 86199, 6458, 3246, 25761, 4539, 42109, 24794, 21720, 73107, 54597, 40627, 52076, 83486, 65187, 65558, 24109, 94556, 27374, 15913, 24145, 34393, 7589, 75394, 73550, 50858, 36448, 29481, 99826, 10713, 27248, 73568, 73433, 89312, 82544, 80801, 88214, 69429, 18516, 25924, 66996, 78669, 59320, 71384, 54570, 89435, 82538, 94143, 34369, 73479, 97783, 21394, 56379, 33165, 23898, 19395, 17449, 37359, 87760, 16230, 7338, 45138, 46485, 52349, 67294, 25560, 22851, 47506, 78564, 24358, 27446, 4880, 17454, 79730, 9128, 53520, 39175, 32657, 49770, 85276, 38556, 87493, 66501, 17179, 25709, 50169, 26434, 56237, 25557, 39288, 80935, 72644, 24816, 52080, 39517, 54634, 4349, 66919, 73326, 23847, 12347, 93199, 93455, 71409, 37318, 63872, 56281, 66909, 8451, 72770, 67827, 25885, 47199, 21220, 76227, 53562, 73579, 26736, 56244, 24241, 47226, 37639, 6268, 18182, 85540, 56729, 24119, 46519, 92521, 24943, 14542, 33604, 54552, 37339, 48629, 25858, 28844, 7554, 69259, 19309, 87642, 24235, 56288, 21493, 84072, 8527, 67806, 99988, 9306, 36151, 9328, 55583, 79108, 15370, 16556, 32469, 55608, 55595, 4668, 94154, 8541, 55234, 76694, 25764, 69231, 94375, 25923, 95192, 99198, 89160, 99958, 7616, 23827, 27404, 40789, 97950, 25917, 91614, 91617, 82380, 40721, 79249, 66482, 37539, 99438, 95466, 83377, 85757, 83483, 8062, 83543, 55452, 47638, 55286, 88370, 41469, 86956, 74931, 24376, 7768, 39624, 54585, 75389, 29364, 24809, 85413, 87743, 7919, 39448, 4895, 56459, 60486, 69437, 73650, 73249, 67098, 66450, 2742, 38373, 78359, 18510, 99439, 79733, 24582, 35321, 51145, 4157, 67746, 24238, 99189, 46119, 84329, 38444, 67822, 6712, 19386, 85599, 9376, 98701, 55487, 22179, 95666, 54518, 27389, 7774, 8396, 51515, 1814, 79369, 24256, 42103, 57462, 37308, 90617, 86977, 24601, 60598, 31707, 73485, 85132, 63322, 17194, 17498, 49779, 63457, 15898, 65599, 40223, 67744, 56843, 18442, 12435, 8134, 21073, 24399, 6231, 83546, 84416, 64283, 47800, 71157, 55592, 25782, 6846, 12524, 86720, 95213, 31691, 19374, 29690, 3205, 54673, 67749, 44388, 15306, 17495, 66869, 7629, 6249, 82362, 56761, 56472, 4158, 16949, 54574, 47829, 78244, 86980, 75392, 57612, 25551, 41379, 32683, 91790, 83022, 37215, 64859, 24960, 53945, 21376, 22359, 86836, 25938, 12101, 88171, 79694, 51143, 53518, 95111, 29386, 21516, 67308, 79822, 75057, 83451, 26427, 94563, 65934, 67729, 82024, 17094, 73728, 86679, 99955, 31552, 27449, 19089, 63875, 99334, 66871, 32278, 49549, 15738, 93354, 52538, 54614, 38489, 37218, 77770, 17089, 51469, 67273, 55606, 45894, 90559, 27367, 84155, 24321, 91602, 95697, 45897, 22962, 20146, 18198, 82399, 4463, 97922, 72585, 53125, 8223, 27386, 93057, 56759, 1445, 91725, 56829, 36466, 54675, 65611, 92729, 27619, 37197, 76706, 66620, 25792, 98574, 24813, 77784, 56751, 8468, 71272, 6456, 19300, 82294, 17309, 54657, 37247, 83707, 53773, 30855, 74076, 56340, 26907, 87538, 47447, 74392, 92655, 8393, 24357, 14053, 24629, 29225, 56588, 9394, 22952, 19258, 90439, 79809, 39343, 42853, 17129, 24220, 72297, 79227, 59889, 63584, 18528, 18184, 15848, 91622, 22959, 21770, 18314, 75173, 9247, 44649, 15328, 24217, 86949, 56584, 82284, 56191, 56269, 86922, 19406, 77797, 89079, 37351, 87545, 91726, 19077, 40593, 31618, 54316, 1594, 83435, 24306, 54413, 73269, 9405, 97346, 72488, 86833, 6193, 21423, 12489, 24245, 81827, 94365, 68799, 79872, 95488, 63073, 18581, 7950, 93495, 7958, 88299, 55585, 66123, 56070, 54472, 87659, 67732, 26892, 91227, 7806, 63075, 35088, 50170, 73344, 82211, 15936, 55776, 67706, 25548, 79361, 4779, 97502, 73765, 98596, 24787, 88696, 17459, 55743, 74731, 17291, 87654, 63679, 93333, 72218, 44265, 67158, 4924, 8539, 71063, 51427, 82445, 74589, 19246, 37434, 14774, 78580, 56204, 89143, 66504, 48720, 47058, 23552, 14129, 54608, 4626, 94356, 27568, 97999, 19412, 95369, 24885, 92363, 13349, 94545, 85298, 4838, 95028, 98617, 21726, 99448, 57642, 8606, 17099, 12529, 29410, 88131, 20257, 78589, 19322, 25358, 28359, 25859, 8412, 87740, 95195, 24864, 96279, 85445, 56424, 19372, 56133, 38542, 40227, 29562, 88457, 21684, 31246, 26835, 25884, 25573, 9599, 91583, 69502, 72766, 55624, 26721, 91734, 66955, 84555, 55246, 18445, 76891, 16833, 25842, 36367, 96152, 22299, 2929, 89613, 95512, 18356, 40489, 76351, 84323, 89542, 27318, 65307, 76829, 45659, 97795, 39356, 56412, 25371, 18461, 22177, 25361, 40880, 97505, 9123, 64569, 65606, 83253, 56291, 18225, 90402, 54533, 94249, 39291, 86551, 73345, 97297, 19217, 87763, 88376, 55469, 18276, 18556, 91632, 86695, 48341, 17440, 17219, 67824, 84092, 78086, 76344, 28717, 38375, 38102, 65936, 55483, 25813, 34516, 25582, 91586, 4741, 23845, 3053, 7381, 49593, 74544, 24863, 31700, 26903, 89177, 88456, 16259, 91365, 73037, 4179, 90556, 38104, 73252, 36469, 16835, 35708, 84095, 83708, 79837, 91564, 31600, 69253, 72669, 64823, 3238, 36433, 84172, 4849, 17390, 94065, 91438, 85462, 91486, 73312, 63674, 25767, 72667, 56659, 92699, 18107, 87640, 6577, 85408, 54646, 96250, 97526, 74862, 6308, 73274, 27607, 19376, 23946, 27243, 48351, 95519, 33649, 66887, 69124, 64409, 26849, 34587, 49767, 83104, 21709, 65582, 44801, 94544, 65203, 25836, 96142, 84163, 56348, 39628, 24598, 49536, 97450, 60306, 25862, 82395, 67311, 45130, 89340, 19294, 35282, 19306, 52459, 14199, 39326, 12355, 83559, 74429, 44799, 27305, 7427, 21739, 71404, 10409, 72514, 47652, 71065, 45309, 14469, 61462, 3044, 24594, 63796, 21337, 55471, 84533, 79677, 24610, 93051, 31028, 67305, 54349, 83352, 54426, 93138, 76887, 93047, 99095, 55430, 91094, 60435, 24159, 95352, 50739, 28865, 4288, 32699, 22929, 7607, 90587, 59379, 76139, 17192, 37235, 47551, 30449, 71254, 29576, 6369, 4575, 94158, 24558, 76835, 88453, 76848, 95180, 38459, 1705, 27574, 24398, 89561, 7751, 55578, 21385, 79238, 44263, 23758, 97654, 73116, 91460, 36129, 67685, 50677, 6686, 55629, 91788, 24405, 37643, 35647, 25704, 92361, 35767, 96271, 24616, 56743, 38527, 24392, 23744, 16515, 91567, 91731, 24894, 13437, 29472, 14669, 17109, 24568, 88524, 48712, 91599, 35239, 39524, 79862, 15518, 89607, 85122, 86482, 84109, 18469, 1665, 1896, 83417, 6861, 29643, 57539, 97250, 26897, 8543, 59590, 99100, 83250, 53506, 55413, 87634, 64754, 41366, 37213, 48336, 7613, 89434, 61206, 30459, 97270, 78476, 25725, 82398, 17166, 96274, 30851, 77743, 68169, 97294, 38173, 98673, 88364, 54587, 91350, 58849, 21436, 93086, 88250, 54516, 95683, 57627, 63633, 79877, 44269, 51545, 16866, 99625, 84186, 91187, 6406, 49434, 63543, 78056, 78570, 32361, 10249, 82335, 19073, 56850, 40474, 24797, 87677, 72299, 94579, 95364, 4618, 64395, 23554, 1187, 64756, 6844, 19075, 67716, 41460, 65183, 88079, 16547, 93473, 17429, 97727, 38820, 38464, 79843, 45964, 14197, 96528, 70597, 92637, 61130, 85386, 6122, 27726, 10777, 8261, 54441, 55122, 14797, 67592, 96167, 90455, 27308, 90461, 4328, 77796, 33034, 66625, 29462, 86459, 45257, 4129, 32369, 82387, 79252, 13355, 89361, 53539, 83224, 93089, 59755, 48624, 85235, 99425, 92703, 54306, 56859, 82549, 97243, 65623, 2953, 66987, 97901, 56865, 74251, 16818, 54668, 6800, 1609, 57413, 90451, 70439, 37194, 76872, 77794, 25876, 40233, 83129, 71636, 24369, 32289, 96145, 28307, 15910, 74925, 74638, 44149, 78098, 64653, 23896, 73560, 86899, 44319, 87496, 79588, 98693, 25795, 97440, 23823, 25563, 37412, 94244, 3042, 99718, 90579, 63579, 73773, 74206, 81241, 49744, 75305, 6688, 89129, 9629, 72519, 48465, 99192, 26937, 63768, 16837, 25474, 14828, 93349, 7927, 27755, 55494, 94518, 87616, 96472, 91233, 89428, 95499, 31633, 70190, 66265, 91241, 48317, 9573, 86666, 66969, 97848, 76327, 48488, 35037, 30165, 90614, 85604, 54619, 8066, 98667, 94366, 15377, 96358, 79102, 22115, 67071, 72517, 55444, 92705, 86706, 90403, 92278, 54647, 23824, 14929, 33181, 56825, 68165, 53534, 79280, 33611, 24857, 99994, 25355, 86479, 38551, 96247, 25926, 75365, 75391, 34292, 54689, 25718, 17321, 67059, 75385, 1731, 38364, 63512, 86424, 84550, 76470, 24576, 99631, 24802, 81929, 10247, 9432, 58332, 25554, 22885, 76133, 63936, 57072, 91560, 79856, 50674, 57632, 32816, 90542, 77740, 93155, 97320, 74235, 63110, 81369, 29590, 84082, 46537, 37619, 54584, 79189, 87779, 89278, 1877, 53123, 39615, 72475, 23714, 38559, 83329, 10317, 78345, 84337, 25569, 85354, 79427, 53227, 27211, 24975, 94234, 74348, 54341, 9488, 48157, 91785, 29494, 13585, 39264, 9661, 84307, 14193, 97241, 22113, 4643, 6128, 35325, 31840, 87755, 73667, 56589, 7929, 38379, 53508, 24986, 99610, 78462, 7749, 49843, 63128, 80339, 93437, 73092, 74930, 55596, 74382, 91189, 67731, 74196, 23795, 38899, 80333, 33607, 96264, 66640, 66663, 18299, 76547, 34439, 92670, 56370, 67699, 54595, 97421, 54424, 1920, 21483, 83346, 54589, 84091, 94374, 23996, 10407, 4509, 74838, 71364, 76684, 85107, 19205, 63834, 15320, 14822, 25588, 86669, 27616, 35578, 96103, 17248, 82031, 73553, 84140, 66509, 67725, 59821, 50733, 7580, 83646, 95469, 56428, 44793, 45772, 86465, 38170, 86559, 23738, 96049, 21465, 84431, 70771, 84378, 67596, 96166, 88097, 45701, 30625, 37269, 83404, 65396, 67317, 67354, 31712, 65321, 77709, 88048, 56132, 8309, 66538, 71397, 84030, 79737, 12279, 79356, 85309, 85406, 25365, 33098, 18233, 79312, 41069, 17268, 15890, 39179, 86850, 25727, 12053, 55262, 22527, 36323, 89440, 90459, 17328, 4828, 49152, 15537, 48163, 93466, 8239, 35633, 54649, 65549, 92539, 86420, 26810, 21039, 15374, 14554, 91471, 81925, 1257, 92526, 74252, 21647, 98547, 10717, 25832, 31637, 87736, 1454, 24214, 55437, 92260, 88263, 87734, 85137, 72661, 67150, 87767, 29693, 4565, 17039, 74933, 91166, 96193, 84094, 87459, 19061, 44267, 82497, 34289, 80802, 15295, 97256, 24897, 83257, 18573, 98663, 13359, 88175, 72666, 47055, 72505, 91282, 56317, 72827, 93309, 82064, 97537, 85414, 69120, 14482, 48361, 38259, 56427, 54317, 13086, 71334, 97508, 92676, 70329, 56294, 14621, 98744, 52134, 72138, 59597, 25377, 24247, 56307, 86637, 56754, 78054, 77791, 41470, 66119, 99428, 26123, 82490, 82386, 53894, 4639, 33689, 87660, 82389, 8289, 34326, 26969, 29584, 36166, 82481, 56745, 9619, 61137, 18258, 18375, 24941, 64711, 7389, 56593, 49525, 83365, 96479, 68642, 39307, 26465, 35315, 58566, 84089, 57614, 58515, 94160, 68753, 74906, 74740, 4617, 36115, 86660, 54617, 26529, 21769, 47661, 7907, 81247, 14532, 14728, 39365, 56826, 65428, 49448, 67280, 24977, 88348, 9125, 22145, 70173, 88709, 27333, 86650, 16945, 24992, 17379, 56727, 76661, 25594, 52525, 97616, 95185, 67468, 41189, 67466, 21371, 83098, 18569, 26676, 4703, 37073, 29358, 56290, 92280, 72124, 54331, 12165, 75228, 76865, 24837, 38176, 92366, 31609, 6126, 54347, 42113, 94094, 39120, 38644, 79771, 17419, 97072, 18246, 31188, 35288, 82266, 66484, 25591, 24626, 82057, 91740, 96231, 84149, 67823, 49176, 35781, 71126, 25335, 77866, 24620, 4821, 63303, 87746, 74747, 81373, 86697, 63801, 3249, 84478, 12357, 55566, 48691, 31319, 66507, 21397, 78549, 91346, 55496, 7924, 37627, 9366, 65197, 26219, 86502, 72537, 18334, 25840, 36457, 99102, 52078, 24872, 8228, 2997, 2708, 94362, 99634, 23829, 25821, 91738, 38304, 94542, 23974, 28309, 24641, 4874, 20097, 21395, 86529, 1993, 87739, 87452, 57587, 75180, 75053, 9117, 69126, 2999, 14913, 41540, 78262, 9496, 97633, 92274, 19336, 23883, 85521, 79736, 55118, 24253, 91802, 24229, 14547, 57234, 24143, 70376, 38387, 16225, 85129, 75245, 96346, 91619, 25799, 65343, 98587]